<div class="rhm-block-news">
    {% if thumbnail is defined %}

    <a href="{{url}}" class="rhm-news-thumb" style="background-image: url({{thumbnail}});"></a>

     {% endif %}

    <div class="rhm-b-content">
        <a href="{{url}}" class="rhm-news-title">
            {{title}}
        </a>
        <h6>
            {{created_at | date("d/m/Y") }}
        </h6>
        <p>
            {{ des[:120] ~ '...' }}
        </p>
    </div>
</div>