<div class="rhm-block2">
    <a href="{{url}}" class="rhm-url"></a>
    <article>
        <img src="{{avatar}}" alt="team">
        <div class="rhm-content">
            <h5>{{name}}</h5>
            <p>{{short_des}}</p>
    
        </div>
    </article>
</div>