<div class="rhm-s-client">
    <div class="rhm-b-container">
        <ul>
            {% for item in general.client %}
            <li>
                <img src="{{item.path}}" alt="client">
            </li>
            {% endfor %}
        </ul>
    </div>
</div>