
==
<div class="confirm-container"></div>
<form class="flexiContactForm" role="form" data-request="{{ contactForm  }}::onMailSent"
    data-request-update="'{{ contactForm  }}::confirm': '.confirm-container'">
    <div>
        <input type="text" name="name" placeholder="{{ 'Họ & Tên '|_}} *">
        <input type="email" name="email" placeholder="{{ 'Email '|_}} *" required>    
        <input type="text" name="subject" placeholder="{{ 'Tiêu đề '|_}} ">
        <input type="text" name="phone" placeholder="{{ 'Số điện thoại '|_}}">    
    </div>
    <textarea type="text" name="body" placeholder="{{ 'Nội dung'|_}}"></textarea>
    <button class="rhm-button"  type="submit"> {{ 'Gửi' |_ }}</button>

    <button type="submit" class="sub-btn">
        <img src="{{'assets/images/icon-send.svg' |theme}}" alt="submit">
    </button>

</form>