description = "footer"
==

<footer>
    <div class="rhm-b-container">
        <div class="rhm-col-1">
            <a href="{{ 'home'| page}}">
                <img src="{{general.logo.path}}" alt="logo white">
            </a>
            <article>
                {{general.footer_des | raw}}
            </article>
            <ul class="rhm-sns">
                {% for item in general.sns %}
                <li>
                    <a href="{{item.link}}" target="_blank">
                        <img src="{{item.icon | media}}" alt="social network">
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rhm-col">
            <h4>{{'Bộ môn' |_}}</h4>
            <ul>
                {% for item in subjectPost %}
                <li>
                    <a href="{{ 'bo-mon-chi-tiet'| page ({ slug: item.slug }) }}">{{item.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rhm-col">
            <h4>{{'Đào tạo' |_}}</h4>
            <ul>
                {% for item in trainingPost %}
                <li>
                    <a href="{{ 'dao-tao-chi-tiet'| page ({ slug: item.slug }) }}">{{item.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rhm-col">
            <h4>{{'Liên hệ' |_}}</h4>
            <ul>
                <li>
                    <a href="https://www.google.com/maps?q={{general.address}}">
                        <img src="{{'assets/images/location-icon.svg' | theme}}" alt="icon">
                        <span>{{general.address | raw}}</span>
                    </a>
                </li>
                <li>
                    <a href="tel: {{general.phone}}">
                        <img src="{{'assets/images/call-icon.svg' | theme}}" alt="icon">
                        <div>
                            <span>{{general.phone}}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>