description = "header"
==

<header>
    <div class="rhm-b-head">
        <div class="rhm-b-container">
            <ul class="rhm-contact">
                <li>
                    <a href="tel: {{general.phone}}">
                        <img src="{{'assets/images/icon-call.svg' | theme}}" alt="contact">
                        <span>{{general.phone}}</span>
                    </a>
                </li>
                <li>
                    <a href="mailto: {{general.email}}">
                        <img src="{{'assets/images/icon-email.svg' | theme}}" alt="contact">
                        <span>{{general.email}}</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com/maps?q={{general.address}}" target="_blank">
                        <img src="{{'assets/images/icon-location.svg' | theme}}" alt="contact">
                        <span>{{general.address | raw}}</span>
                    </a>
                </li>
            </ul>
            <ul class="rhm-sns">
                {% for item in general.sns %}
                <li>
                    <a href="{{item.link}}" target="_blank">
                        <img src="{{item.icon | media}}" alt="social network">
                    </a>
                </li>
                {% endfor %}
                <li>
                    <div class="rhm-lang">
                        <span class="js-toggle-lang">
                            {% if activeLocale == 'vi' %}
                            {{'VI'|_}}
                            {% else %}
                            {{'En'|_}}
                            {% endif %}
                        </span>
                        <ul>
                            <li {% if activeLocale=='vi' %} class='active' {% endif %}>
                                <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'vi'">
                                    {{'Vi'|_}}
                                </a>
                            </li>
                            <li {% if activeLocale=='en' %} class='active' {% endif %}>
                                <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">
                                    {{'En'|_}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <div class="rhm-b-nav">
        <div class="rhm-b-container">
            <div class="rhm-left">
                <a href="{{ 'trang-chu'| page}}">
                    <img src="{{general.logo.path}}" alt="contact">
                </a>
            </div>
            <div class="rhm-right">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                {% component "menu" %}
            </div>
        </div>
    </div>
</header>