<article class="rhm-home-unnounce-item">
    <div class="rhm-content">
        <a href="{{url}}" class="rhm-title">
            {{title}}
        </a>

        {% if des is defined %}
        <p>
            {{des | raw}}
        </p>
        {% endif %}
        <h6>{{created_at | date("d/m/Y")}}</h6>
    </div>
</article>