<article class="rhm-home-news-item">

    {% if thumbnail is defined %}
    <a href="{{url}}" class="rhm-thumb" style="background-image: url({{thumbnail}});"></a>
    {% endif %}

    <div class="rhm-content">
        <a href="{{url}}" class="rhm-title">
            {{title}}
        </a>

        {% if des is defined %}
        <p>
            {{des | raw}}
        </p>
        {% endif %}
        <h6>{{created_at | date("d/m/Y")}}</h6>
    </div>
</article>