<div class="rhm-b-intro-content">
    <div class="rhm-b-left">
        <h4>
            {{title}}
        </h4>
        <article>
            {{des | raw}}
        </article>

        <a href="{{ 'gioi-thieu' | page}}" class="rhm-button">
            {{'Đọc tiếp' |_}}
        </a>
    </div>

    <div class="rhm-b-right">
        <iframe src="https://www.youtube.com/embed/G6lqFKJ2Ql4" frameborder="0" webkitallowfullscreen=""
            mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>
</div>