<div class="rhm-s-subscribe">
    <div class="rhm-b-container">
        <div class="rhm-left">
            <h6>{{general.subscribe_title}}</h6>
            <p>{{general.subscribe_des}}</p>
        </div>
        <div class="rhm-right">
            <!-- {% partial "contact-form" %} -->
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
                <form
                    action="https://hin.us7.list-manage.com/subscribe/post?u=2901607056d65d8d7558735bc&amp;id=84cc752b51"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">

                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                            placeholder="{{ 'Your Email '|_}}" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_4b0d1a4c2eef585122caf248e_84e7a8925f" tabindex="-1" value=""></div>
                        <div class="clear"> <button type="submit" class="sub-btn">
                                <img src="{{'assets/images/icon-send.svg' |theme}}" alt="submit">
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!--End mc_embed_signup-->
        </div>
    </div>
</div>