<section class="rhm-s-about-tip">
    <div class="rhm-b-container">
        <div class="rhm-b-left">
            <h4>{{general.tip_title}}</h4>
            <p>
                {{general.tip_des}}
            </p>
            <a href="{{ 'contact-us' | page }}">
                {{'Make an Appointment' |_}}
            </a>
        </div>
        {% if general.tip_image.path is defined %}
        <div class="rhm-b-right">
            <img src="{{general.tip_image.path}}"}}" alt="tip">
        </div>
        {% endif %}

    </div>
</section>