title = "Giới thiệu chi tiết"
url = "/gioi-thieu/:slug"
layout = "default"
is_hidden = 0

[AboutDetailComponent]
==


<main>
    <section class="rhm-s-page">
        <div class="rhm-b-container">
            <div class="rhm-sub-page-title">
                <h2>{{ aboutDetail.title }}</h2>
            </div>
            <div class="rhm-b-body rhm-b-editor">
                {% for item in aboutDetail.des %}
                {% set blockType = item.block_type %}
                {% if blockType == '1' %}
                <div class="title" id="{{item.title_slug}}">
                    <h3>{{item.title}}</h3>
                </div>
                {% elseif blockType == '2' %}
                <div class="img fpt-row">
                    <img src="{{item.full_image | media}}" alt="image">
                </div>
                {% elseif blockType == '3' %}
                <div class="text-img fpt-row">
                    <div class="article" class="text-box">
                        {{item.left_text | raw}}
                    </div>
                    <div class="article" class="js-img-popup">
                        <img src="{{item.right_image | media}}" alt="image">
                    </div>
                </div>
                {% elseif blockType == '4' %}
                <div class="text-img fpt-row">
                    <div class="article" class="js-img-popup">
                        <img src="{{item.left_image | media}}" alt="image">
                    </div>
                    <div class="article" class="text-box">
                        {{item.right_text | raw}}
                    </div>
                </div>
                {% elseif blockType == '5' %}
                <div class="img-img fpt-row">
                    <div class="article" class="js-img-popup">
                        <img src="{{item.left_image | media}}" alt="image">
                    </div>
                    <div class="article" class="js-img-popup">
                        <img src="{{item.right_image | media}}" alt="image">
                    </div>
                </div>
                {% elseif blockType == '6' %}
                <div class="img-img-img-img fpt-row">
                    <div class="article" class="js-img-popup">
                        <img src="{{item.left_image | media}}" alt="image">
                    </div>
                    <div class="article" class="js-img-popup">
                        <img src="{{item.left_image_2 | media}}" alt="image">
                    </div>
                    <div class="article" class="js-img-popup">
                        <img src="{{item.right_image | media}}" alt="image">
                    </div>
                    <div class="article" class="js-img-popup">
                        <img src="{{item.right_image_2 | media}}" alt="image">
                    </div>
                </div>
                {% elseif blockType == '7' %}
                <div class="img-img-img fpt-row">
                    <div class="article" class="js-img-popup">
                        <img src="{{item.left_image | media}}" alt="image">
                    </div>
                    <div class="article" class="js-img-popup">
                        <img src="{{item.right_image | media}}" alt="image">
                        <img src="{{item.right_image_2 | media}}" alt="image">
                    </div>
                </div>
                {% elseif blockType == '8' %}
                <div class="video fpt-row">
                    <div class="article">
                        <iframe src="https://player.vimeo.com/video/{{item.full_vimeo_id}}" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                    </div>
                </div>
                {% elseif blockType == '9' %}
                <div class="text-video fpt-row">
                    <div class="article" class="text-box">
                        {{item.left_text | raw}}
                    </div>
                    <div class="article">
                        <iframe src="https://player.vimeo.com/video/{{item.right_vimeo_id}}" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                {% elseif blockType == '10' %}
                <div class="text-video fpt-row">
                    <div class="article">
                        <iframe src="https://player.vimeo.com/video/{{item.left_vimeo_id}}" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="article" class="text-box">
                        {{item.right_text | raw}}
                    </div>
                </div>
                {% elseif blockType == '11' %}
                <div class="text-video fpt-row">
                    <div class="article">
                        <iframe src="https://player.vimeo.com/video/{{item.left_vimeo_id}}" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="article">
                        <iframe src="https://player.vimeo.com/video/{{item.right_vimeo_id}}" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                {% elseif blockType == '12' %}
                <div class="full-text fpt-row">
                    <div class="article">
                        {{item.full_text | raw}}
                    </div>
                </div>
                {% elseif blockType == '13' %}
                <div class="full-text-2-cols fpt-row">
                    <div class="article">
                        {{item.full_text | raw}}
                    </div>
                </div>
                {% elseif blockType == '14' %}
                <div class="video fpt-row">
                    <div class="article">
                        <iframe src="https://www.youtube.com/embed/{{item.youtube_id_full}}" frameborder="0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </div>
                </div>
                {% elseif blockType == '15' %}
                <div class="text-video fpt-row">
                    <div class="article">
                        <iframe src="https://www.youtube.com/embed/{{item.youtube_id_left}}" frameborder="0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </div>
                    <div class="article" class="text-box ">
                        {{item.right_text | raw}}
                    </div>

                </div>

                {% elseif blockType == '16' %}
                <div class="text-video fpt-row">
                    <div class="article" class="text-box">
                        {{item.left_text | raw}}
                    </div>

                    <div class="article">
                        <iframe src="https://www.youtube.com/embed/{{item.youtube_id_right}}" frameborder="0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </div>
                </div>
                {% elseif blockType == '17' %}
                <div class="text-video fpt-row">
                    <div class="article">
                        <iframe src="https://www.youtube.com/embed/{{item.youtube_id_left}}" frameborder="0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </div>
                    <div class="article">
                        <iframe src="https://www.youtube.com/embed/{{item.youtube_id_right}}" frameborder="0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </div>
                </div>
                {%endif%}
                {% endfor %}
            </div>
        </div>
    </section>


</main>