title = "Hợp tác quốc tế"
url = "/htqt"
layout = "default"
is_hidden = 0
==
<main>
    <section class="rhm-s-news">
        <div class="rhm-b-container">
            <div class="rhm-sub-page-title">
                <h2>{{ 'Hợp tác quốc tế' |_ }}</h2>
            </div>
            <div class="rhm-b-body">
                {% for item in HTQTPost %}
                <div class="rhm-item">
                    {%
                    partial "blockNews"
                    url='htqt-chi-tiet'| page ({ slug: item.slug })
                    thumbnail=item.thumb.path
                    title=item.title
                    des=item.short_des
                    created_at=item.created_at
                    %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>