title = "Liên hệ"
url = "/lien-he"
layout = "default"
is_hidden = 0
==
<main>

    <section class="rhm-s-contact">

        <div class="rhm-b-container">

            <div class="rhm-b-left">
                {% partial "contact-form" %}
            </div>
            <div class="rhm-b-right">
                <h4>{{'Address' |_}}</h4>
                <ul>
                    <li>
                        <a href="tel: {{general.phone}}">
                            <img src="{{'assets/images/icon-location.svg' | theme}}" alt="icon">
                            <div>
                                <span>{{general.address | raw}}</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel: {{general.phone}}">
                            <img src="{{'assets/images/call-icon.svg' | theme}}" alt="icon">
                            <div>
                                <span>{{general.phone}}</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mailto: {{general.email}}">
                            <img src="{{'assets/images/icon-email.svg' | theme}}" alt="icon">
                            <div>
                                <span>{{general.email}}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="rhm-s-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.1261368207474!2d106.34433061530926!3d9.923451592903609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0175ea296facb%3A0x55ded92e29068221!2sTr%C3%A0%20Vinh%20University!5e0!3m2!1sen!2s!4v1670417860326!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>