title = "Nghiên cứu khoa học chi tiết"
url = "/nckh/:slug"
layout = "default"
is_hidden = 0
[NCKHDetailComponent]
==

<main>
    <section class="rhm-s-detail">
        <div class="rhm-b-container">
            <div class="rhm-b-content">
                <figure>
                    <img src="{{NCKHDetail.thumb.path}}" alt="service">
                </figure>
                <div class="rhm-editor">
                    {{NCKHDetail.des | raw}}
                </div>
            </div>
            <div class="rhm-b-sidebar">
                <h3>{{'Tin liên quan' |_}}</h3>
                <div>
                    {% for item in relatedPostNCKH %}
                    <article>
                        <a href="{{'nckh-chi-tiet'| page ({ slug: item.slug })}}" class="rhm-thumb" style="background-image: url({{item.thumb.path}});"></a>
                        <div class="rhm-content">
                            <a href="{{'nckh-chi-tiet'| page ({ slug: item.slug })}}" class="rhm-title">
                                {{item.title}}
                            </a>
                            <p>
                                {{item.short_des | raw}}
                            </p>
                            <h6>{{item.created_at | date("d/m/y")}}</h6>
                        </div>
                    </article>
                    {% endfor %}

                </div>

            </div>
        </div>
    </section>
</main>