title = "Sinh viên – học viên chi tiết"
url = "/sinh-vien-hoc-vien/:slug"
layout = "default"
is_hidden = 0
[SVHVDetailComponent]
==

<main>
    <section class="rhm-s-detail">
        <div class="rhm-b-container">
            <div class="rhm-b-content">
                <div class="rhm-editor">
                    {{SVHVDetail.des | raw}}
                </div>
            </div>
            <div class="rhm-b-sidebar">
                <h3>{{'Thông báo khác' |_}}</h3>
                <div>
                    {% for item in relatedPostSVHV %}
                    <article>
                        <a href="{{'sinh-vien-hoc-vien-chi-tiet'| page ({ slug: item.slug })}}" class="rhm-thumb" style="background-image: url({{item.thumb.path}});"></a>

                        <div class="rhm-content">
                            <a href="{{'sinh-vien-hoc-vien-chi-tiet'| page ({ slug: item.slug })}}" class="rhm-title">
                                {{item.title}}
                            </a>
                            <p>
                                {{item.short_des | raw}}
                            </p>
                            <h6>{{item.created_at | date("d/m/y")}}</h6>
                        </div>
                    </article>
                    {% endfor %}

                </div>

            </div>
        </div>
    </section>
</main>