title = "Sinh viên – học viên"
url = "/sinh-vien-hoc-vien"
layout = "default"
is_hidden = 0
==

<main>
    <section class="rhm-s-news">
        <div class="rhm-b-container">
            <div class="rhm-sub-page-title">
                <h2>{{ 'Sinh viên – học viên' |_ }}</h2>
            </div>
            <div class="rhm-b-body">
                {% for item in SVHVPost %}
                <div class="rhm-item">
                    {%
                    partial "blockNews"
                    url='sinh-vien-hoc-vien-chi-tiet'| page ({ slug: item.slug })
                    thumbnail=item.thumb.path
                    title=item.title
                    des=item.short_des
                    created_at=item.created_at
                    %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>