title = "Thông báo chi tiết"
url = "/thong-bao/:slug"
layout = "default"
is_hidden = 0
[AnnounceDetailComponent]

==
<main>
    <section class="rhm-s-detail">
        <div class="rhm-b-container">
            <div class="rhm-b-content">
                <div class="rhm-editor">
                    {{announceDetail.des | raw}}
                </div>
            </div>
            <div class="rhm-b-sidebar">
                <h3>{{'Thông báo khác' |_}}</h3>
                <div>
                    {% for item in relatedPostAnnounce %}
                    <article>
                        <div class="rhm-content">
                            <a href="{{'thong-bao-chi-tiet'| page ({ slug: item.slug })}}" class="rhm-title">
                                {{item.title}}
                            </a>
                            <p>
                                {{item.short_des | raw}}
                            </p>
                            <h6>{{item.created_at | date("d/m/y")}}</h6>
                        </div>
                    </article>
                    {% endfor %}

                </div>

            </div>
        </div>
    </section>
</main>