title = "Thông báo"
url = "/thong-bao"
layout = "default"
is_hidden = 0
==

<main>
    <section class="rhm-s-news">
        <div class="rhm-b-container">
            <div class="rhm-b-container">
                <div class="rhm-sub-page-title">
                    <h2>{{ 'Thông báo' |_ }}</h2>
                </div>
            </div>
            <div class="rhm-b-body">
                {% for item in announcePost %}
                <div class="rhm-item">
                    {% 
                        partial "blockNews"  
                        url='thong-bao-chi-tiet'| page ({ slug: item.slug })
                        title=item.title
                        des=item.short_des
                        created_at=item.created_at
                    %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>