title = "Trang chủ"
url = "/"
layout = "default"
is_hidden = 0
==


<main>
    <section class="hero-slider-one">
        {% for item in homepage.slider %}
        <div class="rhm-s-home-hero" style="background-image: url({{item.image|media }});">
            <div class="rhm-b-container">
                <article>
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.des }}</p>
                    <a href="{{ 'lien-he' | page}}" class="rhm-button">
                        {{ 'Liên hệ ngay' |_ }}
                    </a>
                </article>
            </div>
        </div>
        {% endfor %}
    </section>

    <section class="rhm-s-home-intro">
        <div class="rhm-b-container">
            {% partial "introContent" title=homepage.intro_title
            des=homepage.intro_des img=homepage.intro_image.path %}
        </div>
    </section>

    <section class="rhm-s-home-news-announce">
        <div class="rhm-b-container">
            <div class="rhm-b-home-newsest">
                <div class="rhm-b-head">
                    <h2>{{ 'Tin tức' |_ }}</h2>
                </div>
                <div class="rhm-b-body">
                    <div class="rhm-left">
                        {%
                        partial "homeNewsItem"
                        url='tin-tuc-chi-tiet'| page ({ slug: newsPost5[0].slug })
                        thumbnail=newsPost5[0].thumb.path
                        title=newsPost5[0].title
                        des=newsPost5[0].short_des created_at=newsPost5[0].created_at
                        %}
                    </div>
                    <div class="rhm-right">
                        {% for item in newsPost5 %}
                        {% if loop.index != 1 %}
                        {%
                        partial "homeNewsItem"
                        url='tin-tuc-chi-tiet'| page ({ slug: item.slug })
                        thumbnail=item.thumb.path
                        title=item.title
                        %}
                        {% endif %}
                        {% endfor %}

                        <div class="rhm-btn-more">
                            <a href="{{ 'tin-tuc' | page}}" >
                                {{ 'Xem thêm >>' |_ }}
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="rhm-b-home-announce">
                <div class="rhm-b-head">
                    <h2>{{ 'Thông báo' |_ }}</h2>
                </div>
                <div class="rhm-b-body">
                    {% for item in announcePost5 %}
                    {%
                    partial "homeUnnounceItem"
                    url='thong-bao'| page ({ slug: item.slug })
                    thumbnail=item.thumb.path
                    title=item.title
                    des=item.short_des created_at=item.created_at
                    %}
                    {% endfor %}

                    <div class="rhm-btn-more">
                        <a href="{{ 'thong-bao' | page}}" >
                            {{ 'Xem thêm >>' |_ }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="rhm-s-student">
        <div class="rhm-b-container">
            <div class="rhm-b-head rhm-b-title">
                <h2> {{ 'Gốc sinh viên' |_ }}</h2>
            </div>
            <div class="rhm-b-body">
                {% for item in homepage.student_info %}
                <div class="rhm-item">
                    {%
                    partial "block1"
                    icon= item.image|media
                    url=item.link
                    title=item.title
                    des=item.des 
                    %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


</main>