html {
    font-size: 1px;
}

* {
    margin: 0;
}
body {
    margin: 0;
    color: #000000;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16rem;
    line-height: 1.4;
}
p {
    font-size: 16rem;
    line-height: 1.4;
}
img,
embed {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

ul {
    padding: 0;
    li {
        padding: 0;
        list-style: none;
    }
}
input,
textarea {
    outline: none;
    &::placeholder {
        color: #d9d9d9;
    }
}
a,
button {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.rhm-b-container {
    padding: 0 10rem;
    max-width: 1132rem;
    margin: 0 auto;
}
.rhm-btn-more {
    text-align: right;
    a {
        color: black;
        text-decoration: underline;
        font-size: 14rem;
    }
}

.hamburger {
    width: 36rem;
    height: 36rem;
    transform: rotate(0);
    z-index: 1;
    span {
        display: block;
        position: absolute;
        height: 5rem;
        width: 100%;
        background: #002366;
        opacity: 1;
        left: 0;
        transform: rotate(0);
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 12rem;
            background-color: #002366;
        }
        &:nth-child(3) {
            top: 25rem;
        }
    }
}
.confirm-container {
    color: white;
}

.rhm-button {
    appearance: none;
    border: 0;
    display: inline-block;
    height: 64rem;
    font-size: 18rem;
    font-weight: bold;
    line-height: 64rem;
    letter-spacing: 0.18rem;
    color: #ffffff;
    background-color: #002366;
    border-radius: 10rem;
    padding: 0 30rem;
    min-width: 132rem;
    text-align: center;
    transition: 0.3s ease-in-out;
    &:hover {
        opacity: 0.6;
        transition: 0.3s ease-in-out;
    }
}

// ----------------------------------------
header {
    z-index: 9;
    position: relative;
    .rhm-b-head {
        background-color: #002366;
        padding: 20rem 0;
        z-index: 111;
        position: relative;
        .rhm-b-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .rhm-contact {
                display: flex;
                li {
                    margin-right: 30rem;
                    a {
                        display: flex;
                        align-items: center;
                        img {
                            height: 22rem;
                            margin-right: 10rem;
                        }
                        span {
                            font-size: 16rem;
                            font-weight: bold;
                            line-height: 1.75;
                            letter-spacing: 0.16rem;
                            color: #ffffff;
                            display: flex;
                        }
                        &:hover {
                            opacity: 0.6;
                            transition: 0.3s ease-in-out;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .rhm-sns {
                display: flex;
                li {
                    margin-right: 24rem;
                    a {
                        img {
                            height: 16rem;
                        }
                        &:hover {
                            opacity: 0.6;
                            transition: 0.3s ease-in-out;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .rhm-b-nav {
        position: relative;
        width: 100%;
        padding-top: 39rem 0;
        .rhm-b-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .rhm-left {
                a {
                    img {
                        width: 72rem;
                    }
                }
            }

            .rhm-right {
                .hamburger {
                    display: none;
                }
                ul {
                    display: flex;
                    li {
                        margin-right: 30rem;
                        a {
                            color: #002366;
                            font-size: 18rem;
                            font-weight: 700;
                            line-height: 1.56;
                            letter-spacing: 0.18rem;
                            position: relative;
                            display: inline-block;
                            padding: 2rem 0;
                            &::before {
                                content: "";
                                bottom: 0;
                                left: 50%;
                                height: 2rem;
                                position: absolute;
                                background-color: #002366;
                                transform: translateX(-50%);
                                transition: 0.3s ease-in-out;
                                width: 0;
                            }
                            &:hover {
                                &::before {
                                    transition: 0.3s ease-in-out;
                                    width: 100%;
                                }
                            }
                        }
                        &.active {
                            a {
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            .dropdown {
                position: relative;
                &:hover {
                    .rhm-dropdown-menu {
                        display: block !important;
                    }
                }
                .dropdown-toggle {
                    & ~ .rhm-dropdown-menu {
                        min-width: 250rem;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        display: block;
                        transform: translateY(100%);
                        background-color: #ffffff;
                        box-shadow: 0 0 5.5px 1.5rem rgba(195, 195, 195, 0.18);
                        display: none;
                        li {
                            margin: 0;
                            a {
                                padding: 10rem;
                                display: block;
                                &::before {
                                    display: none !important;
                                }
                                &:hover {
                                    background-color: #d7d7d7;
                                    transition: 0.3s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.rhm-s-client {
    padding: 100rem 0 56rem;
    .rhm-b-container {
        ul {
            li {
                display: inline-block;
                margin-bottom: 44rem;
                width: 16%;
                padding: 0 5rem;
                box-sizing: border-box;
                a {
                    display: block;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.rhm-s-subscribe {
    padding: 29rem 0;
    background-color: #002366;
    .rhm-b-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .rhm-left {
            color: #ffffff;
            h6 {
                font-size: 24rem;
                font-weight: bold;
                line-height: 1;
                letter-spacing: 0.24rem;
            }
        }
        .rhm-right {
            form {
                display: flex;
                align-items: center;
                input {
                    height: 42rem;
                    border-radius: 7rem;
                    background-color: #ffffff;
                    line-height: 42rem;
                    font-size: 12rem;
                    letter-spacing: 0.12rem;
                    border: 0;
                    margin-right: 17rem;
                    width: 327rem;
                    max-width: 100%;
                    text-indent: 20rem;
                    &::placeholder {
                        color: #a6a6a6;
                    }
                }
                div {
                    input {
                        display: none;

                        &:nth-child(2) {
                            display: inline-block;
                        }
                    }
                }
                textarea {
                    display: none;
                }
                button {
                    appearance: none;
                    border: 0;
                    background-color: #011b4c;
                    padding: 11rem 46rem;
                    border-radius: 7rem;
                    transition: 0.3s ease-in-out;
                    img {
                        height: 20rem;
                    }
                    &:hover {
                        opacity: 0.6;
                        transition: 0.3s ease-in-out;
                    }
                    &.rhm-button {
                        display: none;
                    }
                }
            }
        }
    }
}
.rhm-b-editor {
    line-height: 1.6;
    h1 {
        font-size: 48rem;
        margin-bottom: 16rem;
    }
    h2 {
        font-size: 44rem;
        margin-bottom: 16rem;
    }
    h3 {
        font-size: 40rem;
        margin-bottom: 16rem;
    }
    h4 {
        font-size: 36rem;
        margin-bottom: 16rem;
    }
    h5 {
        font-size: 32rem;
        margin-bottom: 16rem;
    }
    h6 {
        font-size: 28rem;
        margin-bottom: 16rem;
    }
    p {
        line-height: 1.6;
        margin-bottom: 16rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    img {
        width: 100%;
        object-fit: cover;
        display: block;
    }
    article {
        font-size: 0;
        overflow: hidden;
    }
    .fpt-row {
        margin-bottom: 4rem;
    }
    .image {
        display: block;
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            background-color: inherit;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
    }

    iframe {
        width: 100%;
    }
    .text-box {
        padding: 0 20rem;
        box-sizing: border-box;
    }
    ul {
        li {
            margin-bottom: 16rem;
        }
    }
    .title {
        margin-bottom: 40rem;

        h3 {
            font-size: 40rem;
        }
    }
    .img {
        img {
            width: 100%;
        }
    }
    .text-img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .article {
            width: calc(50% - 2rem);
        }
    }
    .img-img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .article {
            width: calc(50% - 2rem);
        }
    }
    .img-img-img-img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .article {
            width: calc(25% - 3rem);
        }
    }
    .img-img-img {
        display: flex;
        justify-content: space-between;
        .article {
            width: calc(50% - 2rem);
            img {
                height: 604rem;
            }
            &:last-child {
                a {
                    height: 300rem;
                    img {
                    }
                    &:first-child {
                        margin-bottom: 4rem;
                    }
                }
            }
        }
    }
    .video {
        .article {
            iframe {
                height: 840rem;
            }
        }
    }
    .text-video {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .article {
            width: calc(50% - 2rem);
            iframe {
                height: 420rem;
            }
        }
    }
    .full-text-2-cols {
        column-count: 2;
        column-gap: 40rem;
    }
}

footer {
    background-color: #000000;
    padding: 36rem 0;
    color: #ffffff;
    .rhm-b-container {
        display: flex;
        justify-content: space-between;
        .rhm-col-1 {
            width: 25%;
            a {
                display: inline-block;
                margin-bottom: 22rem;
                img {
                    width: 100rem;
                }
            }
            article {
                margin-bottom: 23rem;
                max-width: 253rem;
                p {
                    margin-bottom: 30rem;
                    font-size: rem;
                    line-height: 1.79;
                    letter-spacing: 0.14rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .rhm-sns {
                display: flex;
                li {
                    margin-right: 20rem;
                    a {
                        display: inline-flex;
                        width: 30rem;
                        height: 30rem;
                        border-radius: 50%;
                        border: 1px solid #ffffff;
                        align-items: center;
                        justify-content: center;
                        transition: 0.3s ease-in-out;
                        img {
                            height: 14rem;
                            width: auto;
                        }
                        &:hover {
                            opacity: 0.6;
                            transition: 0.3s ease-in-out;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .rhm-col {
            width: 25%;
            padding-left: 40rem;
            box-sizing: border-box;
            h4 {
                padding-top: 40rem;
                font-size: 24rem;
                font-weight: bold;
                line-height: 0.67;
                letter-spacing: 0.24rem;
                margin-bottom: 50rem;
            }
            ul {
                li {
                    margin-bottom: 16rem;
                    a {
                        color: inherit;
                        font-size: 16rem;
                        letter-spacing: 0.16rem;
                        display: flex;
                        align-items: center;
                        transition: 0.3s ease-in-out;
                        img {
                            margin-right: 20rem;
                            height: 28rem;
                            width: auto;
                        }
                        span {
                            line-height: 1.44;
                        }
                        &:hover {
                            opacity: 0.6;
                            transition: 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

.hero-slider-one {



}

.rhm-s-home-hero {
    background-size: cover;
    color: #002366;
    position: relative;
    background-position: center;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: white;
        opacity: 0.4;
        z-index: 1;

    }

    .rhm-b-container {
        min-height: 60vh;
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 108rem;
        z-index: 2;
        article {
            max-width: 487rem;
            h2 {
                font-size: 40rem;
                font-weight: 700;
                line-height: 1.17;
                letter-spacing: 0.6rem;
                margin-bottom: 40rem;
            }
            p {
                font-size: 18rem;
                line-height: 1.56;
                letter-spacing: 0.18rem;
                margin-bottom: 40rem;
            }
        }
    }
}
.rhm-b-home-contact {
    padding: 0 10rem;
    max-width: 1132rem;
    margin: 0 auto;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20rem;
    box-shadow: 0 0 5.5rem 1.5rem rgba(195, 195, 195, 0.18);
    padding: 28rem 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: -16%;
    z-index: 11;
    position: relative;
    .rhm-left {
        max-width: 376rem;
        h4 {
            font-size: 36rem;
            font-weight: bold;
            line-height: 1.28;
            letter-spacing: 0.36rem;
            margin-bottom: 40rem;
            color: #002366;
        }
        p {
            font-size: 18rem;
            line-height: 1.56;
            letter-spacing: 0.18rem;
            color: #030303;
        }
    }
    .rhm-right {
        max-width: 590rem;
        width: 100%;
        form {
            div {
                display: flex;
                justify-content: space-between;
                input {
                    width: 285rem;
                    margin-bottom: 20rem;
                    &:nth-child(3),
                    &:nth-child(4) {
                        display: none;
                    }
                }
            }
            input,
            textarea {
                font-size: 14rem;
                line-height: 1.4;
                letter-spacing: 0.14rem;
                border-radius: 10rem;
                border: 1px solid #d9d9d9;
                padding: 25rem 27rem;
                box-sizing: border-box;
            }
            .sub-btn {
                display: none;
            }
            textarea {
                width: 100%;
                min-height: 177rem;
                margin-bottom: 40rem;
                resize: none;
            }
        }
    }
}

.rhm-b-intro-content {
    background-size: 50%;
    background-position: center right;
    background-repeat: no-repeat;
    display: flex;
    .rhm-b-left {
        max-width: 530rem;
        width: 40%;
        padding-right: 20rem;
        h4 {
            font-size: 36rem;
            line-height: 1.28;
            letter-spacing: 0.36rem;
            color: #002366;
            margin-bottom: 40rem;
        }
        article {
            margin-bottom: 40rem;
            p {
                line-height: 1.4;
                margin-bottom: 32rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .rhm-b-right {
        width: 60%;
        iframe {
            width: 100%;
            min-height: 380rem;
        }
    }
}
.rhm-s-home-intro {
    padding-top: 100rem;
}

.rhm-s-about-intro {
    padding-top: 100rem;
    .rhm-b-container {
        .rhm-b-intro-content {
            .rhm-button {
                display: none;
            }
        }
    }
}
.rhm-block1 {
    padding: 40rem 20rem;
    text-align: center;
    background-color: #f6f7f9;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    transition: 0.3s ease-in-out;
    display: block;
    .rhm-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 158rem;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        transform: translateX(-50%, -50%);
        opacity: 0.02;
        width: 100%;
        height: 100%;
    }
    article {
        z-index: 4;
        position: relative;
        img {
            height: 44rem;
            margin-bottom: 16rem;
        }
        h5 {
            font-size: 24rem;
            font-weight: bold;
            line-height: 1.17;
            letter-spacing: 0.24rem;
            color: #002366;
            margin-bottom: 16rem;
            // height: 56rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        p {
            font-size: 16rem;
            line-height: 1.5;
            letter-spacing: 0.16rem;
            color: #000000;
            height: 70rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
    &:hover {
        background-color: #ffffff;
        transition: 0.3s ease-in-out;
    }
}

.rhm-b-title {
    text-align: center;
    max-width: 495rem;
    margin: 0 auto;
    h6 {
        font-size: 18rem;
        line-height: 1.56;
        letter-spacing: 0.18rem;
        color: #000000;
        margin-bottom: 16rem;
    }
    h3 {
        font-size: 36rem;
        line-height: 1.2;
        letter-spacing: 0.36px;
        color: #002366;
        margin-bottom: 16rem;
    }
    p {
        font-size: 18rem;
        line-height: 1.56;
        letter-spacing: 0.18rem;
        color: #000000;
    }
}

.rhm-s-home-service,
.rhm-s-about-service,
.rhm-s-service {
    padding: 100rem 0;
    position: relative;
    .rhm-b-container {
        .rhm-b-head {
            margin-bottom: 100rem;
        }
        .rhm-b-body {
            text-align: center;
            a,
            .rhm-item {
                display: inline-block;
                margin-bottom: 15rem;
                margin-right: 15rem;
                position: relative;
                width: 360rem;
                &:nth-child(3n + 3) {
                    margin-right: 0;
                }
                &::before {
                    content: "";
                    background-color: #002366;
                    height: 100%;
                    width: 5rem;
                    border-radius: 2.5rem;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    z-index: 1;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                }
                &:hover {
                    &::before {
                        opacity: 1;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}

.rhm-s-home-about {
    padding: 110rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .rhm-b-container {
        .rhm-b-left {
            max-width: 592rem;
            h4 {
                font-size: 40rem;
                color: #002366;
                line-height: 1.25;
                letter-spacing: 0.4rem;
                margin-bottom: 40rem;
            }
            p {
                font-size: 18rem;
                line-height: 1.56;
                letter-spacing: 0.18rem;
                margin-bottom: 40rem;
            }
            a {
                font-size: 20re;
                font-weight: bold;
                line-height: 1.4;
                letter-spacing: 0.2rem;
                color: #002366;
            }
        }
    }
    .rhm-b-video {
        background-size: cover;
        background-repeat: no-repeat;
        width: 44%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        a {
            width: 60rem;
            height: 60rem;
            box-shadow: 0 0 12.4rem 5.6rem rgba(42, 42, 42, 0.18);
            background-color: #ffffff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            img {
                width: 17rem;
            }
        }
    }
}

.rhm-s-home-team,
.rhm-s-team {
    padding: 100rem 0;
    position: relative;
    .rhm-b-container {
        .rhm-b-head {
            margin-bottom: 100rem;
        }
        .rhm-b-body {
            .rhm-item {
                display: inline-block;
                margin-bottom: 15rem;
                margin-right: 15rem;
                position: relative;
                width: 360rem;
                &:nth-child(3n + 3) {
                    margin-right: 0;
                }
            }
        }
    }
}

.rhm-block2 {
    border-radius: 10rem;
    background-color: #f6f7f9;
    padding: 48rem 20rem;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    .rhm-url {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
    article {
        position: relative;
        z-index: 1;
        img {
            width: 178rem;
            height: 178rem;
            border-radius: 50%;
            margin-bottom: 40rem;
        }

        .rhm-content {
            h5 {
                font-size: 24rem;
                line-height: 1.17;
                letter-spacing: 0.24rem;
                color: #002366;
                margin-bottom: 20rem;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p {
                font-size: 18rem;
                line-height: 1.56;
                letter-spacing: 0.18rem;
                color: #717171;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 3;

        li {
            margin-right: 16rem;
            &:last-child {
                margin-right: 0;
            }
            a {
                img {
                    filter: brightness(0.8);
                }
                &:hover {
                    img {
                        filter: brightness(0.1);
                    }
                }
            }
        }
    }
    &::before {
        content: "";
        background-color: #002366;
        height: 100%;
        width: 5rem;
        border-radius: 2.5rem;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    &:hover {
        background-color: #ffffff;
        transition: 0.3s ease-in-out;
        &::before {
            opacity: 1;
            transition: 0.3s ease-in-out;
        }
    }
}

.rhm-s-home-about2 {
    padding: 86rem 0;
    background-size: cover;
    .rhm-b-container {
        article {
            max-width: 556rem;
            text-align: center;
            h6 {
                font-size: 18rem;
                font-weight: bold;
                line-height: 1.56;
                letter-spacing: 0.18rem;
                color: #000000;
                margin-bottom: 21rem;
            }
            h3 {
                font-size: 48rem;
                font-weight: bold;
                line-height: 1.21;
                letter-spacing: 0.48px;
                color: #002366;
                margin-bottom: 20rem;
            }
            a {
                display: inline-flex;
                align-items: center;
                color: #002366;
                img {
                    width: 24rem;
                    margin-right: 10rem;
                }
                span {
                }
            }
        }
    }
}

.rhm-block-news {
    border-radius: 10rem;
    background-color: #f6f7f9;
    position: relative;
    overflow: hidden;
    .rhm-news-thumb {
        height: 220rem;
        width: 100%;
        border-radius: 10rem;
        background-size: cover;
        position: relative;
        z-index: 2;
        display: block;
        div {
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 54rem;
            height: 54rem;
            transform: translate(-50%, 50%);
            background-color: #002366;
            color: #ffffff;
            line-height: 1.28;
            letter-spacing: 0.18rem;
            text-align: center;
            font-size: 14rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                &::first-line {
                    font-weight: bold;
                    font-size: 18rem;
                }
            }
        }
    }
    .rhm-b-content {
        padding: 20rem;
        text-align: left;
        .rhm-news-title {
            font-size: 22rem;
            font-weight: bold;
            line-height: 1.41;
            letter-spacing: 0.22px;
            color: #002366;
            display: block;
            height: 31rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        h6 {
            margin-bottom: 8rem;
            font-size: 12rem;
            line-height: 1.63;
        }
        p {
            font-size: 16rem;
            line-height: 1.63;
            letter-spacing: 0.16px;
            color: #282828;
            height: 78rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .rhm-readmore {
            font-size: 16rem;
            font-weight: bold;
            line-height: 1.63;
            letter-spacing: 0.16px;
            color: #002366;
        }
        a {
            transition: 0.3s ease-in-out;
            &:hover {
                opacity: 0.6;
                transition: 0.3s ease-in-out;
            }
        }
    }
    &::before {
        content: "";
        background-color: #002366;
        height: 100%;
        width: 5rem;
        border-radius: 2.5rem;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    &:hover {
        background-color: #ffffff;
        transition: 0.3s ease-in-out;
        &::before {
            opacity: 1;
            transition: 0.3s ease-in-out;
        }
    }
}
.rhm-s-home-last-news {
    padding: 100rem 0;
    position: relative;
    .rhm-b-container {
        .rhm-b-head {
            margin-bottom: 100rem;
        }
        .rhm-b-body {
            text-align: center;
            .rhm-item {
                display: inline-block;
                margin-bottom: 15rem;
                margin-right: 15rem;
                position: relative;
                width: 360rem;
                &:nth-child(3n + 3) {
                    margin-right: 0;
                }
            }
        }
    }
}
.rhm-s-page {
    padding: 80rem 0;
}
.rhm-s-disclaimerpage {
    padding: 80rem 0;
}
.rhm-bg-icon {
    position: absolute;
    top: 156rem;
    left: 60rem;
    img {
        width: 150rem;
        opacity: 0.1;
    }
}

.rhm-subpage-head {
    position: relative;
    border-bottom: 1px solid #d3d3d3;
    .rhm-b-container {
        position: relative;
        h1 {
            padding-top: 230rem;
            padding-bottom: 20rem;
            border-bottom: 1px solid #002366;
            font-size: 30rem;
            font-weight: 700;
            letter-spacing: 0.3rem;
            color: #002366;
            display: inline-block;
        }

        .rhm-bg-stethoscope {
            position: absolute;
            z-index: 0;
            right: 300rem;
            top: 50%;
            opacity: 0.05;
            img {
                width: 90rem;
            }
        }
    }
    .rhm-bg-medicine {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        padding-left: 104rem;
        z-index: 0;
        opacity: 0.05;
        img {
            width: 86rem;
        }
        @media (max-width: 1440px) {
            padding-left: 10rem;
        }
    }
}

.rhm-s-about-tip {
    background-color: #002366;
    color: #ffffff;
    .rhm-b-container {
        position: relative;
        .rhm-b-left {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            max-width: 504rem;
            padding: 64rem 0;
            h4 {
                font-size: 30rem;
                line-height: 1.25;
                letter-spacing: 0.4rem;
                margin-bottom: 20rem;
            }
            p {
                font-size: 18rem;
                line-height: 1.56;
                letter-spacing: 0.18rem;
                margin-bottom: 20rem;
            }
            a {
                font-size: 18rem;
                font-weight: bold;
                line-height: 1.4;
                letter-spacing: 0.2rem;
                color: #ffffff;
                padding: 17rem 32rem;
                border: 2rem solid #ffffff;
                display: inline-block;
                &:hover {
                    background-color: #ffffff;
                    transition: 0.3s ease-in-out;
                    color: #002366;
                }
            }
        }
        .rhm-b-right {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            padding-left: 50rem;
            img {
                width: 369rem;
                height: 397rem;
                position: absolute;
                bottom: 0;
                z-index: 2;
            }
        }
    }
}

.rhm-s-news {
    padding: 80rem 0;
    .rhm-b-container {
        .rhm-b-body {
            text-align: center;
            .rhm-item {
                display: inline-block;
                margin-bottom: 15rem;
                margin-right: 15rem;
                position: relative;
                width: 360rem;
                &:nth-child(3n + 3) {
                    margin-right: 0;
                }
            }
        }
    }
}

.rhm-s-team-detail {
    padding: 80rem 0;
    .rhm-b-container {
        display: flex;
        justify-content: space-between;
        .rhm-b-content {
            width: 70%;
            .rhm-b-head {
                display: flex;
                margin-bottom: 32rem;
                figure {
                    width: 25%;
                    img {
                        width: 100%;
                        width: 178rem;
                        height: 178rem;
                        border-radius: 50%;
                    }
                }
                article {
                    width: 60%;
                    padding: 20rem;
                    h4 {
                        font-size: 24rem;
                        margin-bottom: 16rem;
                    }
                    p {
                        font-size: 16rem;
                    }
                }
            }
            .rhm-b-body {
                padding: 20rem 0;
            }
        }

        .rhm-s-team-related {
            width: 25%;
            .rhm-item {
                display: inline-block;
                margin-bottom: 32rem;
                margin-right: 15rem;
                position: relative;
                width: 260rem;
                .rhm-block2 {
                    padding: 0;
                    background-color: transparent;
                    text-align: left;
                    &::before {
                        display: none;
                    }
                    article {
                        display: flex;
                        img {
                            width: 60rem;
                            height: 60rem;
                            margin-right: 16rem;
                            margin-bottom: 0;
                        }
                        .rhm-content {
                            h5 {
                                margin-bottom: 8rem;
                                font-size: 18rem;
                            }
                            p {
                                font-size: 16rem;
                            }
                        }
                    }
                }
                &:nth-child(4n + 4) {
                    margin-right: 0;
                }
            }
        }
    }
}

.rhm-s-service-info {
    padding-top: 100rem;
    .rhm-b-container {
        .rhm-b-body {
            padding: 48rem 56rem;
            border: 1px solid #a6a6a6;
            border-radius: 5rem;
            img {
                width: 100rem;
                height: auto;
                margin-right: 100rem;
                display: inline-block;
                vertical-align: middle;
            }
            article {
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 208rem);
                p {
                    font-size: 18rem;
                    line-height: 1.56;
                    letter-spacing: 0.18rem;
                    color: #010101;
                    margin-bottom: 16rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.rhm-s-service-stast {
    background-color: #002366;
    color: #ffffff;
    padding: 125rem 0;
    .rhm-b-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rhm-item {
            line-height: 0.93;
            letter-spacing: 0.3rem;
            text-align: center;
            h6 {
                font-size: 30rem;
                margin-bottom: 30rem;
            }
            h4 {
                font-size: 36rem;
            }
        }
    }
}

.rhm-s-detail {
    padding-top: 100rem;
    .rhm-b-container {
        display: flex;
        justify-content: space-between;
        .rhm-b-content {
            max-width: 800rem;
            border-bottom: 1px solid #c9c9c9;
            padding-bottom: 100rem;
            figure {
                margin-bottom: 30rem;
                img {
                    width: 100%;
                }
            }
        }
        .rhm-b-sidebar {
            width: 268rem;
            h3 {
                font-size: 16rem;
                font-weight: 700;
                line-height: 1.75;
                letter-spacing: 0.16px;
                background-color: #f8f9ff;
                text-align: center;
                padding: 18rem 5rem;
                margin-bottom: 30rem;
                color: #002366;
            }
            ul {
                li {
                    margin-bottom: 20rem;
                    a {
                        border-bottom: 1px solid #d7d7d7;
                        padding-bottom: 10rem;
                        display: block;
                        font-size: 14rem;
                        line-height: 1.86;
                        letter-spacing: 0.14rem;
                        color: #8e8e8e;
                        &:hover {
                            opacity: 0.6;
                            transition: 0.3s ease-in-out;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            article {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 18rem;
                &:last-child {
                    margin-bottom: 0;
                }
                .rhm-thumb {
                    width: 120rem;
                    height: 100rem;
                    background-size: cover;
                    display: block;
                    margin-right: 20rem;
                }
                .rhm-content {
                    width: 156rem;
                    .rhm-title {
                        font-size: 18rem;
                        font-weight: bold;
                        line-height: 1.44;
                        letter-spacing: 0.18px;
                        color: #002366;
                        margin-bottom: 12rem;
                        // height: 21rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                    p {
                        font-size: 14rem;
                        letter-spacing: 0.14px;
                        color: #010101;
                        // height: 33rem;
                        margin-bottom: 8rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    h6 {
                        font-size: 14rem;
                        font-weight: normal;
                        line-height: 1.57;
                        letter-spacing: 0.14rem;
                        color: #818181;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                }
                &:first-child {
                    display: block;
                    .rhm-thumb {
                        width: 100%;
                        height: 163rem;
                        margin-bottom: 16rem;
                    }
                    .rhm-content {
                        width: 100%;
                    }
                }
            }
        }
    }
}
.rhm-editor {
    color: #000000;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 24rem;
        line-height: 1.17;
        letter-spacing: 0.24rem;
        margin-bottom: 30rem;
    }
    img {
        margin-bottom: 30rem;
        width: 100%;
    }
    p {
        margin-bottom: 30rem;
    }
    em {
        font-style: normal;
    }
    ul {
        margin-bottom: 30rem;
        padding-left: 30rem;
        li {
            margin-bottom: 20rem;
            list-style: disc;
        }
    }
    a {
        color: #000000;
    }
}

.rhm-s-quote {
    padding: 80rem 0;
    .rhm-b-container {
        display: flex;
        justify-content: space-between;
        .rhm-b-col {
            width: calc(50% - 20rem);
        }
        .rhm-b-left {
            .rhm-b-head {
                margin-bottom: 40rem;
                h2 {
                    font-size: 30rem;
                    font-weight: 700;
                    letter-spacing: 0.3px;
                    color: #002366;
                    margin-bottom: 20rem;
                }
                p {
                    font-size: 18rem;
                    line-height: 1.56;
                    letter-spacing: 0.18rem;
                    color: #002366;
                }
            }
            .rhm-b-body {
                .rhm-item {
                    margin-bottom: 20rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    button {
                        appearance: none;
                        background-color: #ecf2fc;
                        color: #002366;
                        padding: 15rem 30rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        border: 0;
                        font-size: 18rem;
                        font-weight: bold;
                        letter-spacing: 0.18rem;
                        span {
                            text-align: left;
                        }
                        .rhm-icon {
                            i {
                                font-style: normal;
                                display: none;
                                &:first-child {
                                    display: block;
                                }
                            }
                        }
                    }
                    .rhm-editor {
                        padding: 20rem;
                        color: #747474;
                        display: none;
                    }
                    &.isActive {
                        button {
                            background-color: #002366;
                            color: #ffffff;
                            .rhm-icon {
                                i {
                                    display: block;
                                    &:first-child {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .rhm-editor {
                            display: block;
                        }
                    }
                }
            }
        }
        .rhm-b-right {
            img {
                width: 100%;
            }
        }
    }
}

.rhm-s-contact {
    padding: 100rem 0;
    .rhm-b-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .rhm-b-left {
            width: 722rem;
            form {
                div {
                    input {
                        width: 348rem;
                        margin-bottom: 20rem;
                        display: inline-block;
                        margin-right: 20rem;
                        &:nth-child(2n + 2) {
                            margin-right: 0;
                        }
                    }
                }
                input,
                textarea {
                    font-size: 14rem;
                    line-height: 1.4;
                    letter-spacing: 0.14rem;
                    border-radius: 10rem;
                    border: 1px solid #d9d9d9;
                    padding: 25rem 27rem;
                    box-sizing: border-box;
                }
                .sub-btn {
                    display: none;
                }
                textarea {
                    width: 100%;
                    min-height: 210rem;
                    margin-bottom: 40rem;
                    resize: none;
                }
            }
        }
        .rhm-b-right {
            width: 348rem;
            padding: 70rem 60rem;
            background-color: #77a6ff;
            color: #ffffff;
            box-sizing: border-box;
            h4 {
                font-size: 24rem;
                font-weight: bold;
                line-height: 0.67;
                letter-spacing: 0.24rem;
                margin-bottom: 30rem;
                padding-bottom: 16rem;
                display: inline-block;
                border-bottom: 1px solid #ffffff;
            }
            ul {
                li {
                    margin-bottom: 16rem;
                    a {
                        color: inherit;
                        font-size: 16rem;
                        letter-spacing: 0.16rem;
                        display: flex;
                        align-items: center;
                        transition: 0.3s ease-in-out;
                        img {
                            margin-right: 20rem;
                            width: auto;
                        }
                        span {
                            line-height: 1.44;
                        }
                        &:hover {
                            opacity: 0.6;
                            transition: 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

.rhm-s-map {
    height: 436rem;
    overflow: hidden;
    iframe {
        width: 100%;
    }
}

.rhm-lang {
    position: relative;
    margin-left: 40rem;

    span {
        color: #ffffff;
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
        padding-right: 16rem;
        position: relative;
        font-weight: bold;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            background-image: url(../images/icon-arrow-down.svg);
            background-size: 16rem 8rem;
            width: 16rem;
            height: 8rem;
        }
    }
    ul {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(0, 100%) scale(0.96);
        background-color: #ffffff;
        box-shadow: 0 0 5.5rem 1.5rem rgba(195, 195, 195, 0.18);
        visibility: hidden;
        transition: 0.3s ease-in-out;
        opacity: 0;
        li {
            margin-right: 0 !important;
            a {
                display: block;
                padding: 8rem 30rem;
                color: #002366;
                text-transform: uppercase;
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: #cacaca;
                    transition: 0.3s ease-in-out;
                    opacity: 1 !important;
                }
            }
        }
    }
    &:hover {
        ul {
            visibility: inherit;
            transform: translate(0, 100%) scale(1);
            transition: 0.3s ease-in-out;
            opacity: 1;
        }
    }
}
#mc_embed_signup_scroll {
    display: flex;
    input {
        display: block !important;
    }
}

.rhm-sub-page-title {
    margin-bottom: 32rem;
    padding-bottom: 8rem;
    position: relative;
    h2 {
        font-size: 36rem;
        line-height: 1.2;
        letter-spacing: 0.36px;
        color: #002366;
    }
    &::after {
        content: "";
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: #002366;
        position: absolute;
    }
}

.rhm-s-home-news-announce {
    padding: 80rem 0;
    .rhm-b-container {
        display: flex;
        justify-content: space-between;
        .rhm-b-head {
            margin-bottom: 32rem;
            padding-bottom: 8rem;
            position: relative;
            h2 {
                font-size: 36rem;
                line-height: 1.2;
                letter-spacing: 0.36px;
                color: #002366;
            }
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                background-color: #002366;
                position: absolute;
            }
        }
        .rhm-b-home-newsest {
            width: 66.66%;
            padding-right: 32rem;
            .rhm-b-body {
                display: flex;
                justify-content: space-between;
                .rhm-left {
                    width: 50%;
                    padding-right: 20rem;
                    .rhm-home-news-item {
                        display: block;
                        .rhm-thumb {
                            width: 100%;
                            height: 240rem;
                            margin-bottom: 12rem;
                        }
                        .rhm-content {
                            width: 100%;
                            .rhm-title {
                                -webkit-line-clamp: 4;
                                font-size: 18rem;
                                line-height: 1.44;
                            }
                        }
                    }
                }
                .rhm-right {
                    width: 50%;
                }
            }
        }
        .rhm-b-home-announce {
            width: 33.33%;
        }
    }
}

.rhm-home-news-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18rem;
    .rhm-thumb {
        width: 100rem;
        height: 80rem;
        background-size: cover;
        display: block;
        margin-right: 12rem;
    }
    .rhm-content {
        width: calc(100% - 100rem);
        .rhm-title {
            font-size: 14rem;
            font-weight: bold;
            line-height: 1.44;
            letter-spacing: 0.18px;
            color: #002366;
            margin-bottom: 12rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        p {
            font-size: 14rem;
            letter-spacing: 0.14px;
            color: #010101;
            margin-bottom: 8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        h6 {
            font-size: 12rem;
            font-weight: normal;
            line-height: 1.57;
            letter-spacing: 0.14rem;
            color: #818181;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.rhm-home-unnounce-item {
    margin-bottom: 18rem;
    .rhm-content {
        .rhm-title {
            font-size: 14rem;
            font-weight: bold;
            line-height: 1.44;
            letter-spacing: 0.18px;
            color: #002366;
            margin-bottom: 12rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        p {
            font-size: 14rem;
            letter-spacing: 0.14px;
            color: #010101;
            margin-bottom: 8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        h6 {
            font-size: 12rem;
            font-weight: normal;
            line-height: 1.57;
            letter-spacing: 0.14rem;
            color: #818181;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.rhm-s-student {
    padding: 80rem 0 100rem;
    .rhm-b-container {
        .rhm-b-head {
            margin-bottom: 32rem;
            h2 {
                font-size: 36rem;
                line-height: 1.2;
                letter-spacing: 0.36px;
                color: #002366;
            }
        }
        .rhm-b-body {
            font-size: 0;
            .rhm-item {
                display: inline-block;
                width: calc(25% - 15rem);
                margin-right: 20rem;
                &:nth-child(4n) {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    html {
        font-size: calc(1px + ((100vw - 1366px) / 1366) * 1);
    }
    .rhm-b-editor {
        line-height: 1.6;
        h1 {
            font-size: 36rem;
        }
        h2 {
            font-size: 32rem;
        }
        h3 {
            font-size: 28rem;
        }
        h4 {
            font-size: 24rem;
        }
        h5 {
            font-size: 20rem;
        }
        h6 {
            font-size: 16rem;
        }
        p {
            line-height: 1.6;
            margin-bottom: 8rem;
        }

        iframe {
            width: 100%;
        }
        .text-box {
            padding: 20rem 0;
        }
        ul {
            li {
                margin-bottom: 8rem;
            }
        }
        .title {
            margin-bottom: 24rem;
            h3 {
                font-size: 28rem;
            }
        }
        .text-img {
            display: block;
            .article {
                width: 100%;
            }
        }
        .img-img {
            display: block;
            .article {
                width: 100%;
                margin-bottom: 4rem;
            }
        }
        .img-img-img-img {
            display: block;
            .article {
                width: 100%;
                margin-bottom: 4rem;
            }
        }
        .img-img-img {
            display: block;
            justify-content: space-between;
            .article {
                width: 100%;
                margin-bottom: 4rem;
                img {
                    height: 240rem;
                }
                &:last-child {
                    a {
                        height: 240rem;
                        &:first-child {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
        .video {
            .article {
                iframe {
                    height: 240rem;
                }
            }
        }
        .text-video {
            display: block;
            .article {
                width: 100%;
                iframe {
                    height: 240rem;
                }
            }
        }
        .full-text {
        }
        .full-text-2-cols {
            column-count: 1;
            column-gap: 0;
        }
    }
    .rhm-s-team-detail {
        .rhm-b-container {
            display: block;
            .rhm-b-content {
                width: 100%;
                .rhm-b-head {
                    display: block;
                    figure {
                        width: 100%;
                        text-align: center;
                    }
                    article {
                        width: 100%;
                        padding: 20rem;
                        text-align: center;
                        box-sizing: border-box;

                        h4 {
                            font-size: 18rem;
                            margin-bottom: 8rem;
                        }
                    }
                }
            }
            .rhm-s-team-related {
                width: 100%;
            }
        }
    }

    .rhm-b-intro-content {
        display: block;
        .rhm-b-left {
            width: 100%;
            margin-bottom: 24rem;
        }
        .rhm-b-right {
            width: 100%;
            iframe {
                min-height: 230rem;
            }
        }
    }
}
@media (max-width: 500px) {
    html {
        font-size: 1px;
    }
    header {
        .rhm-b-head {
            padding: 10rem 0;
            .rhm-b-container {
                display: block;
                .rhm-contact {
                    display: none;
                }
                .rhm-sns {
                    li {
                        &:last-child {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
        .rhm-b-nav {
            padding-top: 8rem;
            .rhm-b-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .rhm-left {
                    a {
                        img {
                            width: 60rem;
                        }
                    }
                }
                .rhm-right {
                    ul.rhm-nav {
                        position: absolute;
                        display: block;
                        width: 100%;
                        left: 0;
                        text-align: center;
                        top: 0;
                        background-color: white;
                        z-index: 101;
                        visibility: hidden;
                        transform: scale(0.96);
                        opacity: 0;
                        padding: 16rem 0;
                        transition: 0.3s ease-in-out;
                        li {
                            margin-right: 0;
                            a {
                                display: block;
                                padding: 5rem 0;
                                &::before {
                                    display: none;
                                }
                                &.dropdown-toggle {
                                    & ~ .rhm-dropdown-menu {
                                        position: relative;
                                        transform: none;
                                    }
                                }
                            }
                            &.active {
                                background-color: rgba(0, 0, 0, 0.05);
                            }
                        }
                    }
                    .hamburger {
                        display: block;
                        z-index: 102;
                        position: relative;
                    }
                }
            }
        }
    }

    .open-nav {
        .hamburger {
            visibility: hidden;
            transform: scale(0.96);
            opacity: 0;
        }
        header {
            .rhm-b-nav {
                .rhm-b-container {
                    .rhm-right {
                        ul.rhm-nav {
                            visibility: initial;
                            transform: scale(1);
                            opacity: 1;
                            transition: 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    .rhm-s-home-hero {
        padding-bottom: 0;
        .rhm-b-container {
            article {
                h2 {
                    font-size: 40rem;
                }
            }
        }
    }

    .rhm-b-home-contact {
        display: block;
        .rhm-left {
            margin-bottom: 24rem;
        }
        .rhm-right {
            form {
                div {
                    display: block;
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }

    .rhm-b-intro-content {
        background-position: bottom;
    }

    .rhm-s-home-service,
    .rhm-s-about-service,
    .rhm-s-service {
        .rhm-b-container {
            .rhm-b-body {
                a,
                .rhm-item {
                    margin-right: 0;
                    width: 100%;
                }
            }
        }
    }

    .rhm-s-home-about {
        padding: 60rem 0 0;
        .rhm-b-container {
            margin-bottom: 30rem;
        }
        .rhm-b-video {
            width: 100%;
            height: 300rem;
            position: relative;
        }
    }

    .rhm-s-home-team,
    .rhm-s-team,
    .rhm-s-home-last-news,
    .rhm-s-news,
    .rhm-s-team-related {
        .rhm-b-container {
            .rhm-b-body {
                .rhm-item {
                    margin-bottom: 15rem;
                    margin-right: 0;
                    width: 100%;
                }
            }
        }
    }

    .rhm-s-subscribe {
        .rhm-b-container {
            display: block;
            .rhm-left {
                margin-bottom: 24rem;
            }
            .rhm-right {
                form {
                    display: block;
                    div {
                        margin-bottom: 20rem;
                        input {
                            width: 100%;
                            margin-right: 0;
                        }
                    }
                    button {
                        padding: 11rem 46rem;
                        img {
                            max-width: none;
                        }
                    }
                }
            }
        }
    }

    footer {
        .rhm-b-container {
            display: block;
            .rhm-col,
            .rhm-col-1 {
                width: 100%;
                padding-left: 0;
                h4 {
                    margin-bottom: 30rem;
                }
                article {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    .rhm-subpage-head {
        .rhm-b-container {
            .rhm-bg-stethoscope {
                transform: translate(0, -50%);
                right: 20rem;
            }
        }
    }
    .rhm-s-about-tip {
        max-height: 100%;
        .rhm-b-container {
            font-size: 0;
            .rhm-b-left {
                width: 100%;
            }
            .rhm-b-right {
                width: 100%;
                padding-left: 0;
                text-align: center;
                img {
                    position: relative;
                }
            }
        }
    }

    .rhm-s-client {
        padding: 60rem 0 14rem;
        .rhm-b-container {
            ul {
                li {
                    width: 32.33%;
                }
            }
        }
    }

    .rhm-s-service-info {
        .rhm-b-container {
            .rhm-b-body {
                text-align: center;
                img {
                    margin-bottom: 20rem;
                    margin-right: 0;
                }
                article {
                    display: block;
                    text-align: left;
                    width: 100%;
                }
            }
        }
    }

    .rhm-s-quote,
    .rhm-s-contact {
        .rhm-b-container {
            display: block;
            .rhm-b-col,
            .rhm-b-left,
            .rhm-b-right {
                width: 100%;
                margin-bottom: 40rem;
                form {
                    div {
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .rhm-s-detail {
        .rhm-b-container {
            display: block;
            .rhm-b-content {
                width: 100%;
                margin-bottom: 40rem;
            }
            .rhm-b-sidebar {
                width: 100%;
                article {
                    justify-content: flex-start;
                }
            }
        }
    }

    .rhm-s-service-stast {
        padding: 60rem 0;
        .rhm-b-container {
            display: block;
            font-size: 0;
            .rhm-item {
                margin-bottom: 30rem;
                width: 50%;
                display: inline-block;
                vertical-align: middle;
                h6 {
                    margin-bottom: 10rem;
                }
            }
        }
    }

    .rhm-s-home-news-announce {
        .rhm-b-container {
            display: block;

            .rhm-b-home-newsest {
                width: 100%;
                margin-bottom: 40rem;
                .rhm-b-body {
                    display: block;
                    .rhm-left {
                        width: 100%;
                        margin-bottom: 24rem;
                    }
                    .rhm-right {
                        width: 100%;
                    }
                }
            }
            .rhm-b-home-announce {
                width: 100%;
            }
        }
    }

    .rhm-s-student {
        .rhm-b-container {
            .rhm-b-body {
                .rhm-item {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 16rem;
                }
            }
        }
    }
}
