description = "default layout"

[menu]
start = "id-1"
activeNode = 0
listItemClasses = "rhm-item"
primaryClasses = "rhm-nav dr-nav-pills"
secondaryClasses = "rhm-dropdown-menu"
numberOfLevels = 2

[localePicker]
forceUrl = 0

[HomepageComponent]

[AboutpageComponent]

[ContactpageComponent]

[AnnounceComponent]

[BlogComponent]

[TrainingComponent]

[AboutComponent]

[SubjectComponent]

[NckhComponent]
[HtqtComponent]
[StudentComponent]
[NCKHComponent]
[HTQTComponent]
[SVHVComponent]
[seo]

[contactForm]
injectBootstrapAssets = 0
injectMainScript = 0
==
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="dr-schalch" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="private">
    <meta http-equiv="Content-Language" content="vi">

    <title>{{ this.page.meta_title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}" />
    <meta name="keywords" content="{{ this.page.meta_keywords }}" />
    <meta name="title" content="{{ this.page.meta_title }}" />

    <meta property="og:title" content="{{ this.page.meta_title }}" />
    <meta property="og:description" content="{{ this.page.meta_description }}" />
    {% if this.page.seo_image %}
    <meta property="og:image" content="{{ this.page.seo_image.getPath() }}" />
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">    
    <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/logo.png'|theme }}" />
    <link href="{{ [
            '@framework.extras',
            'assets/css/main.min.css',
            'assets/csslib/slick.css',
            'assets/csslib/slick-theme.css',
        ]|theme }}" rel="stylesheet" media="screen" />
    {% styles %}

    <script src="{{'assets/script/jquery.min.js' |theme }}"></script>

</head>

<body class="{{ this.page.bodyClass }}">
    {% partial "header" %}

    {% page %}
    {% partial "subscribe" %}
    {% partial "footer" %}

    <script src="{{ [
            '@framework',
            '@framework.extras',
            'assets/script/main.min.js',
            'assets/script/slick.min.js',
        ]|theme }}"></script>

    {% scripts %}
</body>

</html>